/* Define styles for squares */
.square {
    -fx-background-color: #d18b47;
    -fx-min-width: 60px;
    -fx-min-height: 60px;
    -fx-max-width: 60px;
    -fx-max-height: 60px;
}

.light {
    -fx-background-color: #f0d9b5;
}

.dark {
    -fx-background-color: #b58863;
}

/* Define styles for labels */
.rank-label, .file-label {
    -fx-font-size: 20px;
    -fx-padding: 5px;
}

/* Define styles for pieces */
.piece {
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-min-width: 60px;
    -fx-min-height: 60px;
    -fx-max-width: 60px;
    -fx-max-height: 60px;
}

